In [1]:
import pandas as pd

In [2]:
data = [10,20,30,40,50,60]

Create the pandas DataFrame with column name is provided explicitly

In [3]:
df = pd.DataFrame(data, columns=['Numbers'])

Print dataframe

In [4]:
df

   Numbers
0       10
1       20
2       30
3       40
4       50
5       60